<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5xoO6uyidjYhLjzjc-Me2HXLdR3aDGhY</string>
	<key>GCM_SENDER_ID</key>
	<string>100382514340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flavory.food.app</string>
	<key>PROJECT_ID</key>
	<string>flavory-food-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flavory-food-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100382514340:ios:8e9a59709976f919e3da31</string>
</dict>
</plist>